doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title
      | Title Here
    link(rel="stylesheet" href="vendor.css" type="text/css")
    link(rel="stylesheet" href="style.css" type="text/css")

  body
    script(src="vendor.js")
    script(src="app.js")

    | Body here
